<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Orchestr8 -->
      <package
            uri="https://Orchestr8.com"
            class="Orchestr8.Orchestr8Package"
            genModel="model/Orchestr8.genmodel"/>
   </extension>

</plugin>
